{% extends "./layout.html" %}
{% load static %}





{% block content %}


<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm" style="background: #e0e0e0">
<div class="container">

{# Codigo comentado se agrego carousel 8Mayo 2026 #}
{% comment %}
<div class="intro-banner-wrap">
	<img src="{% static "images/banners/draminski_bann.png" %}" class="img-fluid rounded">
</div>
{% endcomment %}

<!-- carousel agregado 8Mayo 2026-->
<div class="carousel-container"> 
  <div id="carouselMy" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselMy" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselMy" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselMy" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselMy" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselMy" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">  
        <div class="carousel-item active d-item">
          <img src="{% static COMPANY_BANN1 %}" class="d-block w-100 d-img" alt="Avipork cCommerce">
          <div class="carousel-caption d-none d-md-block">
            <h5>{{COMPANY}}</h5>
            <p>{{COMPANY_SLOGAN}}</p>
          </div>
        </div>
        <div class="carousel-item d-item">
          <img src="{% static COMPANY_BANN2 %}" class="d-block w-100 d-img" alt="Avipork cCommerce">
          <div class="carousel-caption d-none d-md-block">
            <h5>{{COMPANY}}</h5>
            <p>{{COMPANY_SLOG_SUB1}}</p>
          </div>
        </div>
        <div class="carousel-item d-item">
          <img src="{% static COMPANY_BANN3 %}" class="d-block w-100 d-img" alt="Avipork cCommerce">
          <div class="carousel-caption d-none d-md-block">
            <h5>{{COMPANY}}</h5>
            <p>{{COMPANY_SLOG_SUB2}}</p>
          </div>
        </div>
		<div class="carousel-item d-item">
          <img src="{% static COMPANY_BANN4 %}" class="d-block w-100 d-img" alt="Avipork cCommerce">
          <div class="carousel-caption d-none d-md-block">
            <h5>{{COMPANY}}</h5>
            <p>{{COMPANY_SLOG_SUB1}}</p>
          </div>
        </div>
        <div class="carousel-item d-item">
          <img src="{% static COMPANY_BANN5 %}" class="d-block w-100 d-img" alt="Avipork cCommerce">
          <div class="carousel-caption d-none d-md-block">
            <h5>{{COMPANY}}</h5>
            <p>{{COMPANY_SLOG_SUB2}}</p>
          </div>
        </div>
      
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselMy" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden"><</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselMy" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">></span>
      </button>
    </div>
  </div>
</div>
<!-- fin carousel agregado 8Mayo 2026-->

</div> <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm" style="background: #e0e0e0">
<div class="container">

<header class="section-heading">
	<a href="{% url "store" %}" class="btn btn-outline-primary float-right">Ver todos</a>
	<h4 class="section-title">Productos destacados</h4>
</header><!-- sect-heading -->

<div class="row">
	{% for product in products %}
		<div class="col-md-3">
			<div class="card card-product-grid">
				<a href="{{product.get_url}}" class="img-wrap"> <img src=" {{product.image1.url}} "> </a>
				<figcaption class="info-wrap">
					<a href="{{product.get_url}}" class="title">{{product.name}}</a>
					
					<div>
					{% if product.has_discount %}
						<span class="price mt-1">${{product.low_price|floatformat:"2g"}}</span>
						<del class="price-old">${{product.price|floatformat:"2g"}}</del>
					{% else %}
						<span class="price mt-1">${{product.price|floatformat:"2g"}}</span>
					{% endif %}
					</div> <!-- price-wrap.// -->
					<div class="rating-star">
						<span>
							<i class="fa fa-star{% if product.avgRating < 0.5 %}-o{% elif product.avgRating >= 0.5 and product.avgRating < 1 %}-half-alt{% endif %} " aria-hidden="true" style="color: #ffb503;"></i>
							<i class="fa fa-star{% if product.avgRating < 1.5 %}-o{% elif product.avgRating >= 1.5 and product.avgRating < 2 %}-half-alt{% endif %} " aria-hidden="true" style="color: #ffb503;"></i>
							<i class="fa fa-star{% if product.avgRating < 2.5 %}-o{% elif product.avgRating >= 2.5 and product.avgRating < 3 %}-half-alt{% endif %} " aria-hidden="true" style="color: #ffb503;"></i>
							<i class="fa fa-star{% if product.avgRating < 3.5 %}-o{% elif product.avgRating >= 3.5 and product.avgRating < 4 %}-half-alt{% endif %} " aria-hidden="true" style="color: #ffb503;"></i>
							<i class="fa fa-star{% if product.avgRating < 4.5 %}-o{% elif product.avgRating >= 4.5 and product.avgRating < 5 %}-half-alt{% endif %} " aria-hidden="true" style="color: #ffb503;"></i>
							
						</span>
					</div> <!--rating-star-->
				</figcaption>
			</div>
		</div> <!-- col.// -->
	{% endfor %}
	
	{% comment %}
	PRODUCTOS ESTÁTICOS QUITAR
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="./product-detail.html" class="img-wrap"> <img src=" {% static "images/items/2.jpg" %} "> </a>
			<figcaption class="info-wrap">
				<a href="./product-detail.html" class="title">Chamarra repelente al agua</a>
				<div class="price mt-1">$280.00</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="./product-detail.html" class="img-wrap"> <img src=" {% static "images/items/3.jpg" %} "> </a>
			<figcaption class="info-wrap">
				<a href="./product-detail.html" class="title">Short mezclilla verano 2024</a>
				<div class="price mt-1">$56.00</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="./product-detail.html" class="img-wrap"> <img src=" {% static "images/items/4.jpg" %} "> </a>
			<figcaption class="info-wrap">
				<a href="./product-detail.html" class="title">Mochila lonchera de mano</a>
				<div class="price mt-1">$179.00</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="./product-detail.html" class="img-wrap"> <img src=" {% static "images/items/5.jpg" %} "> </a>
			<figcaption class="info-wrap">
				<a href="./product-detail.html" class="title">iPad 6a. gen 256gb</a>
				<div class="price mt-1">$179.00</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="./product-detail.html" class="img-wrap"> <img src=" {% static "images/items/6.jpg" %} "> </a>
			<figcaption class="info-wrap">
				<a href="./product-detail.html" class="title">Sillon estilo Verona gris oxford</a>
				<div class="price mt-1">$280.00</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="./product-detail.html" class="img-wrap"> <img src=" {% static "images/items/7.jpg" %} "> </a>
			<figcaption class="info-wrap">
				<a href="./product-detail.html" class="title">Smartswatch cuenta pasos y presión arterial</a>
				<div class="price mt-1">$56.00</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	{% endcomment %}
</div> <!-- row.// -->

</div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->






</body>
</html>

{% endblock content %}